# Go
# =====================
[[language]]
name = "go"
auto-format = true
formatter = { command = "gosimports" }
language-servers = ["gopls"]

# =====================
# Markdown
# =====================
[[language]]
name = "markdown"
language-servers = ["marksman", "ltex-ls"]
rulers = [120]

# =====================
# HTML
# =====================
[[language]]
name = "html"
formatter = { command = "prettier", args = ["--parser", "html"] }
language-servers = ["vscode-html-language-server"]

# =====================
# JSON
# =====================
[[language]]
name = "json"
formatter = { command = "prettier", args = ["--parser", "json"] }
language-servers = ["vscode-json-language-server"]

# =====================
# CSS
# =====================
[[language]]
name = "css"
formatter = { command = "prettier", args = ["--parser", "css"] }
language-servers = ["vscode-css-language-server"]

# =====================
# JavaScript
# =====================
[[language]]
name = "javascript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }
language-servers = ["typescript-language-server"]

# =====================
# Python
# =====================
[[language]]
name = "python"
auto-format = true
formatter = { command = "black", args = ["-"] }
language-servers = ["pyright", "python-lsp-server"]

# =====================
# Rust
# =====================
[[language]]
name = "rust"
auto-format = true
formatter = { command = "rustfmt" }
language-servers = ["rust-analyzer"]

# =====================
# C
# =====================
[[language]]
name = "c"
auto-format = true
formatter = { command = "clang-format" }
language-servers = ["clangd"]

# =====================
# hledger rules
# =====================
[[language]]
name = "hledger-rules"
scope = "source.hledger-rules"
file-types = ["toml", { glob = "*.rules" }]

# =====================
# Markdown Preview LSP
# =====================
[language-server.mpls]
command = "mpls"
args = ["--browser", "explorer.exe"]

[[language]]
name = "python"
auto-format = true
formatter = { command = "ruff", args = ["format", "-"] }
language-servers = ["pyright"]

[[language]]
name = "typst"
file-types = ["typ"]
comment-token = "//"
formatter = { command = "tinymist", args = ["format", "--stdin"] }
auto-format = true 

[[language]]
name = "nix"
file-types = ["nix"]
auto-format = true
language-servers = ["nixd"]
formatter = { command = "alejandra"}
